<div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">My Location</h4>
            <p class="lead mb-0">Raffles Hills Cibubur
              <br>Depok, 16454</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">My Website</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/alsabila-shakina-prasetyo-636887155/">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://gitlab.com/Alsabila/">
                  <i class="fab fa-fw fa-gitlab"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">My Contacts</h4>
            <p class="lead mb-0">
                <i class="fab fa-fw fa-line"></i> @alsabilasp</p>
            <p class="lead mb-0">
                <i class="fab fa-fw fa-google"></i> alsabila.shakina@gmail.com</p>
            <p class="lead mb-0">
                <i class="fab fa-fw fa-phone"></i> 087875118600</p>
          </div>
        </div>
      </div>