<div class="container">
        <h1 class="text-uppercase mb-0">{{ name }}</h1>
        <hr class="star-dark">
        <h2 class="font-weight-light mb-0">CS/IT Student of University of Indonesia</h2>
</div>