{% load staticfiles %}
{% load static %}
<div class="container">
    <h2 class="text-center text-uppercase text-white mb-0">Education</h2>
    <hr class="star-light mb-5">
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/logo_ui.png' %}">
            <p class="text mb-0"><b>University of Indonesia</b></p>
            <p class="font-weight-light mb-0"><i>Currently enrolled for Bachelor's degree in Computer Science</i></p>
            <p  class="font-weight-light mb-0">I have been an active student who joined various organizations and committees. My current GPA is above 3.00
                    and I excel at Operating System, Basic Calculus, Digital System, and Computer-supported Learning.</p>
        </div>
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/abrsm.png' %}">
            <p class="text mb-0"><b>Associated Board of the Royal School of Music</b></p>
            <p class="font-weight-light mb-0"><i>Currently in Piano Grade 5</i></p>
            <p  class="font-weight-light mb-0">I have been playing piano since I was elementary school until now.
                I have passed the ABRSM Piano Exam from Preliminary to Grade 5 all with distinction scores.
            </p>
        </div>
    </div>
</div>