{% load staticfiles %}
{% load static %}
<div class="container">
    <h2 class="text-center text-uppercase text-white mb-0">Experiences</h2>
    <hr class="star-light mb-5">
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/logo-bem.png' %}">
        </div>
        <div class="col-lg-6 ml-auto">
            <p class="text mb-0"><b>BEM Fasilkom UI 2017</b></p>
            <p class="font-weight-light mb-0"><i>Member of Science Department from 2016 to 2017</i></p>
            <p  class="font-weight-light mb-0">I joined BEM Fasilkom UI and took responsibility as the chief of Fasilkom Goes to PIMNAS program. It's a
                program that helped Fasilkom students to submit their PKM proposals.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/compfest.png' %}">
        </div>
        <div class="col-lg-6 ml-auto">
            <p class="text mb-0"><b>Compfest 9 Committee 2017</b></p>
            <p class="font-weight-light mb-0"><i>Staff of Competition Division from 2016 to 2017</i></p>
            <p  class="font-weight-light mb-0">Compfest 9 is an annual IT event held by Fasilkom students. I joined the committee as a staff of Indie Game
                Ignite Competition.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/educare.PNG' %}">
        </div>
        <div class="col-lg-6 ml-auto">
            <p class="text mb-0"><b>Educare Committee 2017</b></p>
            <p class="font-weight-light mb-0"><i>Staff of Fund and Consumption Division in 2017</i></p>
            <p  class="font-weight-light mb-0">Educare is an event for Fasilkom students to learn more about works and jobs. I joined the committee as a staff
                of Fund and Consumption who raised funds and managed consumptions for the event.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/pkm.png' %}">
        </div>
        <div class="col-lg-6 ml-auto">
            <p class="text mb-0"><b>PKM Center UI</b></p>
            <p class="font-weight-light mb-0"><i>Volunteer in PKM Center UI from 2017 to 2018</i></p>
            <p  class="font-weight-light mb-0">I volunteered to help PKM Center UI managing the administration of
                PKM proposals made by UI students.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-6 d-block mx-auto" src="{% static 'img/fasilkom.png' %}">
        </div>
        <div class="col-lg-6 ml-auto">
            <p class="text mb-0"><b>Teaching Assistant Group</b></p>
            <p class="font-weight-light mb-0"><i>Teaching Assistant and Tutor from 2017 to present</i></p>
            <p  class="font-weight-light mb-0">I have been joining the Teaching Assistant Group as a Linear Algebra Teaching Assistant and a Tutor of Basic
                Calculus and Linear Algebra for Fasilkom students.</p>
        </div>
    </div>
</div>