{% load staticfiles %}
{% load static %}
<div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/SmartEscape.png' %}" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-6">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/DOKU.png' %}" alt="">
            </a>
        </div>
          <div class="col-md-6 col-lg-6">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/docto.PNG' %}" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto center" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/ppwteama12.png' %}" alt="">
          </a>
</div>

<!-- Portfolio Modals -->
<!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">SmartEscape</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'img/SmartEscapeView.PNG' %}" alt="">
                <h4 class="mb-5"><i>Artificial Intelligence Coursework</i></h4>
                <p class="mb-5">
                    With a team of three, I built an informed search-based application to find the shortest evacuation path from
                        current location to assembly point using a building map. View the entire project at:
                        <a href="https://gitlab.com/Alsabila/smartescape">SmartEscape</a></p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">DOKU Internet Gateway Go-Inet</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'img/DOKUView.PNG' %}" alt="">
                <h4 class="mb-5"><i>Software Engineering Project Coursework</i></h4>
                <p class="mb-5">
                    With a team of six, I become one of the Hackers to do a PT Nusa Satu Inti Artha (DOKU) Project for Creating
                    Internet Gateway. This is the project I am currently working on and is expected to finish at the end of my
                    6th semester. View the entire project at: <a href="https://gitlab.cs.ui.ac.id/ppl-fasilkom-ui/2019/PPLC2">DOKU Go-Inet</a>
                </p>

                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>

      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Doc-To</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'img/DocToView.PNG' %}" alt="">
                <h4 class="mb-5"><i>Software Engineering Coursework</i></h4>
                <p class="mb-5">
                    With a team of five, I create an online health consultation platform for doctor and patient.
                    View the entire project at: <a href="https://gitlab.com/Alsabila/rpl-b3-docto">Doc-To</a>
                </p>

                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Portfolio Modal 4 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">PPW</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'img/tugas1View.PNG' %}" alt="">
                <h4 class="mb-5"><i>Web Programming and Design Coursework</i></h4>
                <p class="mb-5">
                    With a team of four, I create dummy website that implements TDD, Django, Models, HTML,CSS,
                    OAuth, Webservice, Session, and JavaScript.
                    View the entire project at: <a href="https://gitlab.com/PPW2017-A12/tugas1">Tugas 1</a> and
                    <a href="https://gitlab.com/PPW2017-A12/tugas2">Tugas 2</a>
                </p>

                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>