{% load staticfiles %}
{% load static %}
<div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Profile</h2>
    <hr class="star-dark mb-5">
    <div class="row">
        <div class="col-lg-6 ml-auto">
            <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'img/myphoto.png' %}" alt="">
        </div>
        <div class="col-lg-6 ml-auto">
            <p class="lead">{{ profile }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-auto">
            <h3 class="text-center text-uppercase text-secondary mb-0">Computer Skills</h3>
            <hr class="star-dark mb-6">
            <p class="lead">{{ computer }}</p>
        </div>
        <div class="col-lg-4 ml-auto">
            <h3 class="text-center text-uppercase text-secondary mb-0">Language Skills</h3>
            <hr class="star-dark mb-6">
            <p class="lead">{{ language }}</p>
        </div>
        <div class="col-lg-4 ml-auto">
            <h3 class="text-center text-uppercase text-secondary mb-0">Personal Skills</h3>
            <hr class="star-dark mb-6">
            <p class="lead">{{ personal }}</p>
        </div>
    </div>
</div>