{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ name }}</title>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/freelancer.min.css' %}" />

</head>

<body id="page-top">
    
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ name }}</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#profile">Profile</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#education">Education</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experiences">Experiences</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <!-- Header -->
      <header class="masthead bg-primary text-white text-center" style="background: url(../static/img/background.jpg)
      center center no-repeat; background-size: cover;">
        {% include 'partials/header.html' %}
      </header>

      <!-- Profile Section -->
      <section class="portfolio" id="profile">
        {% include 'sections/profile.html' %}
      </section>

      <!-- Education Section -->
      <section class="bg-primary text-white mb-0" id="education">
        {% include 'sections/education.html' %}
      </section>

      <!-- Projects Section -->
      <section class="portfolio" id="portfolio">
        {% include 'sections/portfolio.html' %}
      </section>

      <!-- Experience Section -->
      <section class="bg-primary text-white mb-0" id="experiences">
        {% include 'sections/experiences.html' %}
      </section>

      <!-- Footer -->
      <footer class="footer text-center">
        {% include 'partials/footer.html' %}
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Plugin JavaScript -->
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
      <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

      <!-- Contact Form JavaScript -->
      <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
      <script src="{% static 'js/contact_me.js' %}"></script>

      <!-- Custom scripts for this template -->
      <script src="{% static 'js/freelancer.min.js' %}"></script>
      
</body>

</html>